{% if page.gallery %}
    {% assign galleries=site.data.[page.gallery] %}
    {% for gallery in galleries %}
    <div class="columns is-multiline">
        <div class="column is-12">
            <p class="title is-3 has-text-centered">{{ gallery.title }}</p>
        </div>
        {% for image in gallery.images %}
        <div class="column is-4-desktop is-6-tablet">
            <div class="card">
                <div class="card-image">
                    <figure class="image {{ image.ratio | default: is-16by9 }}">
                        <!-- <img src="{{ image.link | absolute_url }}" alt="{{ image.alt }}"> -->
                        <img src="{{ image.link | prepend: site.baseurl }}" alt="{{ image.alt }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <!-- {{ image.description | markdownify }} -->
                        <h4><b>{{ image.name }}</b></h4>
                        {{ image.position }}
                        <br>
                        E-mail: {{ image.email }}
                        <br>
                        {% if image.link_internal == true %}
                            {% if site.baseurl == "" %}
                                <a href="{{ site.url }}/{{ image.link_cv }}">Curriculum Vitae</a>
                            {% else %}
                                <a href="{{ site.url }}/{{ site.baseurl }}/{{ image.link_cv }}">Curriculum Vitae</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ image.link_cv }}">Curriculum Vitae</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}